<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Drowsiness Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h1>Welcome to the Driver Drowsiness Detection System</h1>

    <h2>Users:</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.name }}</li>
        {% else %}
            <li>No users available</li>
        {% endfor %}
    </ul>

    <!-- Dropdown for selecting a user -->
    <h3>Select a user to go to their dashboard:</h3>
    <form action="/dashboard" method="get">
        <select name="user" id="userSelect">
            {% for user in users %}
                <option value="{{ user.name }}">{{ user.name }}</option>
            {% else %}
                <option>No users available</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go to Dashboard">
    </form>

</body>
</html>
